<ion-header [translucent]="true" [hidden]="scanActive">
  <ion-toolbar>
    <ion-title>Barcode Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="scanActive ? '#00000000' : '#fff'">
  <ion-toolbar *ngIf="!scanActive">
    <ion-segment (ionChange)="segmentChanged($event)" value="scan">
      <ion-segment-button value="scan">
        Scanner
      </ion-segment-button>
      <ion-segment-button value="generate">
        Gerar QRCode
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <app-scanner *ngIf="segmentActive == 'scan'" (scanActiveEmitter)='changeStatus($event)'></app-scanner>
  <app-generate *ngIf="segmentActive == 'generate'"></app-generate>
</ion-content>